h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}

h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0);
}

p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}

body {
  width: 390px;
  height: 1240px;
  background: #CCAD8F;
}

.price-wrapper {
  margin-top: 167px;
  height: 908px;
}

.card-body {
  /* Temp */
  background: url(imgPriceList/backG.png);
  width: 351px;
  height: 867px;
  margin-top: 17px;
  margin-bottom: 7px;
  margin-left: 19px;
  margin-right: 20px;
}

.background-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-heading {
  width: 314px;
  height: 30px;
  margin-top: 22px;
  overflow: visible;
  text-align: center;
  word-wrap: break-word;
  font-weight: 700;
  position: relative;
}

.cards-heading h1 {
  position: absolute;
  margin-top: -30px;
}

p {
  color: #4d7ea8;
  font-size: 10px;
  font-weight: bold;
}

.card {
  width: 156px;
  height: 250px;
  margin-right: 8px;
  margin-left: 8px;
  display: inline-block;
  border-radius: 5px;
}

.first, .second {
  margin-top: 42px;
  margin-bottom: 35px;
}

.third, .forth {
  margin-bottom: 34px;
}

.fifth {
  margin-bottom: 6px;
}

.image-box img {
  width: 156px;
  height: 128px;
}

.content {
  height: 125px;
  width: 156px;
  background-color: #CCAD8F;
  position: relative;
}

.service-text {
  margin: 0;
}

.btn-box {
  height: 43px;
  display: flex;
  width: 138px;
  margin-bottom: 8px;
  margin-top: 18px;
  margin-left: 8.9px;
  margin-right: 8.99px;
}

.btn {
  width: 65.62px;
  height: 17px;
  background: #4D7EA8;
  border-radius: 50px;
  border: none;
  margin-bottom: 5px;
}

.btn-txt {
  width: 51.24px;
  height: 7px;
  left: 6.29px;
  top: 4px;
  text-align: center;
  color: white;
  font-size: 7px;
  font-family: Tahoma;
  font-weight: 700;
  word-wrap: break-word;
}

footer {
  width: 100%;
  height: 227px;
  background-color: #763a03;
  bottom: 0;
}
footer .text {
  min-width: 330px;
  max-height: 80%;
  display: flex;
  justify-content: space-evenly;
}
footer .contact, footer .list {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  text-align: center;
  padding-top: 35px;
}
footer address .titleAddress {
  font-size: 20px;
  color: whitesmoke;
}
footer address p {
  color: whitesmoke;
  font-size: 15px;
}
footer .list {
  border-left: 1px solid #ccad8f;
}
footer h3 {
  color: whitesmoke;
}
footer a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 10px;
}

.icon {
  min-width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #ccad8f;
}
.icon .fb, .icon .mastercard, .icon .visa, .icon .klarna, .icon .twitter, .icon .instagram {
  font-size: 24px;
  margin: 5px;
  color: whitesmoke;
}
body {
  background-color: #ccad8f;
}

/* HEADER SECTION */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Header | Container */
  /* Phone button | Bottom of the page */
}
header section {
  background-image: linear-gradient(hsla(29, 95%, 24%, 0.2), hsla(30, 37%, 68%, 0.2));
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Header-Login | Container */
  /* Search Button */
  /* Resto Logo */
  /* DROPDOWN */
  /* Dropdown | Container */
}
header section .login, header section .dropdown .toggle-btn, header section .search {
  width: 41px;
  height: 41px;
  /* Header-Login | BTN */
}
header section .login .login-btn, header section .dropdown .toggle-btn .login-btn, header section .dropdown .toggle-btn .toggle-btn-icon, header section .search .login-btn, header section .search .search-btn {
  font-size: 41px;
  color: rgba(0, 0, 0, 0.8);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
header section .resto {
  width: 203px;
  height: 59px;
}
header section .resto img {
  width: inherit;
  height: inherit;
}
header section .dropdown {
  /* Toggle Button | Drop-down button */
  /* Dropdown-Content | Container */
  /* Dropdown-Login | Container */
  /* Dropdown-Menu | Container */
  /* Dropdown-Footer */
}
header section .dropdown .toggle-btn {
  position: inherit;
}
header section .dropdown .dropdown-content {
  width: 100%;
  height: 536px;
  top: 100px;
  left: 0;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  background: #ccad8f;
}
header section .dropdown .dropdown-content-login {
  width: 280px;
  height: 43px;
  flex-shrink: 0;
}
header section .dropdown ul li {
  width: 280px;
  height: 15px;
  flex-shrink: 0;
  margin-bottom: 6px;
  border: 1px solid rgba(0, 0, 0, 0.788);
}
header section .dropdown .dropdown-content-menu {
  display: flex;
  width: 310px;
  height: 266px;
  top: 78px;
  position: absolute;
}
header section .dropdown ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  flex-shrink: 0;
}
header section .dropdown ol li:hover {
  background: rgba(255, 255, 255, 0.5);
}
header section .dropdown ol li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 310px;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.788);
}
header section .dropdown ol li h3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 5px;
}
header section .dropdown ol li p {
  color: #000;
  text-align: right;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-right: 5px;
}
header section .dropdown .dropdown-language {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 8px;
  gap: 10px;
  bottom: 44px;
  border: 1px solid black;
}
header section .dropdown .dropdown-language button {
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
  font-size: 15px;
  background: local;
  border: none;
  cursor: pointer;
  outline: inherit;
}
header section .dropdown .dropdown-language button :hover {
  background: rgba(255, 255, 255, 0.5);
}
header section .dropdown .dropdown-language .se {
  font-weight: 700;
}
header section .dropdown .dropdown-language .separator {
  width: 1px;
  height: 15px;
  border: 1px solid black;
}
header section .dropdown .dropdown-language .en {
  font-weight: 400;
}
header section .dropdown .dropdown-footer {
  position: fixed;
  width: 390px;
  height: 227px;
  flex-shrink: 0;
  bottom: 0px;
}
header .dropdown:hover .dropdown-content {
  display: flex;
}
header .phone {
  width: 30px;
  height: 30px;
  bottom: 235px;
  right: 0%;
  position: fixed;
}

* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
}/*# sourceMappingURL=style.css.map */ter;
}

.text-and-icon {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 15px 10px 0px;
  width: 100%;
  height: 20px;
  padding: 0;
}

.vector {
  width: 13px;
  height: 20px;
  margin: 8px;
  margin: 0px 8px 0px 12px;
}

.text-wrapper {
  flex: 1;
  width: 100%;
  height: 48px;
  vertical-align: top;
  background: transparent;
  border: none;
  padding: 0;
}

::-moz-placeholder {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 16px;
}

::placeholder {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 16px;
}

footer {
  width: 100%;
  height: 227px;
  background-color: #763a03;
  bottom: 0;
}
footer .text {
  min-width: 330px;
  max-height: 80%;
  display: flex;
  justify-content: space-evenly;
}
footer .contact, footer .list {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  text-align: center;
  padding-top: 35px;
}
footer address .titleAddress {
  font-size: 20px;
  color: whitesmoke;
}
footer address p {
  color: whitesmoke;
  font-size: 15px;
}
footer .list {
  border-left: 1px solid #ccad8f;
}
footer h3 {
  color: whitesmoke;
}
footer a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 10px;
}

.icon {
  min-width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #ccad8f;
}
.icon .fb, .icon .mastercard, .icon .visa, .icon .klarna, .icon .twitter, .icon .instagram {
  font-size: 24px;
  margin: 5px;
  color: whitesmoke;
}
* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  min-width: 100%;
  min-height: 1600px;
}/*# sourceMappingURL=style.css.map */ct {
  width: 50%;
  margin-left: 25%;
  margin-top: 15px;
  margin-bottom: 15px;
}

* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */