$colorText: whitesmoke;
$colorBlack: #000;
$colorDB: #4d7ea8;

footer {
  width: 100%;
  height: 210px;
  background-color: $colorBlack;
  bottom: 0;
  margin-top: auto;

  .textFooter {
    min-width: 330px;
    max-height: 80%;
    display: flex;
    justify-content: space-evenly;

    .contactF {
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 130px;
      margin: 10px;
      text-align: center;
      padding-top: 20px;

      .footerP {
        color: $colorText;
        font-size: 10px;
      }
    }

    .listFooter {
      @extend .contactF;
      border-left: 1px solid $colorText;
      padding-top: 15px;

      .footerH3 {
        color: $colorText;
        font-size: 15px;
      }
      .footerA {
        text-decoration: none;
        color: $colorText;
        font-size: 10px;
      }
    }
  }

  .iconFooter {
    min-width: 330px;
    height: 30px;
    padding-top: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid $colorText;

    .fb {
      font-size: 24px;
      margin: 5px;
      color: $colorText;
    }

    .instagram {
      @extend .fb;
    }

    .twitter {
      @extend .fb;
    }

    .klarna {
      @extend .fb;
    }

    .visa {
      @extend .fb;
    }

    .mastercard {
      @extend .fb;
    }
  }
  // Not visible on smaller screens
  .bottomIcons {
    padding: 5px;
    color: $colorText;
    display: none;

    .socialMedia {
      .footerH3 {
        font-size: 15px;
      }

      ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 15%;
        list-style: none;

        .icons {
          font-size: 24px;
          background-color: $colorBlack;
          color: $colorText;
          border: none;
        }
      }
    }
    .payMethods {
      @extend .socialMedia;
    }
  }
}
// For Tablets Ipads portrait mode and up
@media screen and (min-width: 768px) {
  footer {
    .textFooter {
      display: flex;
      justify-content: space-evenly;

      .contactF {
        .footerP {
          font-size: 1.4em;
        }
      }
      .listFooter {
        border: none;

        .footerA:hover {
          color: $colorDB;
        }

        .footerH3,
        .footerA {
          font-size: 1.3em;
          margin: 5px;
        }
      }

      .bottomIcons {
        display: flex;
        text-align: center;
        padding-top: 15px;
        margin: 10px;
        padding-left: 20px;
        font-size: 32px;
        width: 100%;

        .socialMedia,
        .payMethods {
          width: 50%;
          .footerH3 {
            color: $colorText;
            font-size: 0.7em;
          }
          ul {
            padding-top: 20px;
            display: flex;
            justify-content: space-evenly;

            :hover {
              color: $colorDB;
              cursor: pointer;
            }
            .icons {
              font-size: 36px;
            }
          }
        }
      }
    }
    .iconFooter {
      display: none;
    }
  }
}
