/* HERO SECTION */
.hero-wrapper {
  // Hero Wrapper for content
  display: flex;
  justify-content: center;

  .hero-background {
    // Hero background
    width: 94%;
    height: 694px;
    flex-shrink: 0;
    background:
      url(/img/food_drawing.png),
      lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: auto;

    .hero-heading {
      width: 100%;
      height: 150px;
      display: inline-flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }

  /* SEARCH-BAR */
  .search-bar {
    // Container for the search function
    width: 100%;
    display: inline-flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    .search-box {
      // Container for the text field
      display: flex;
      align-items: center;
      width: 265px;
      height: 40px;
      border-radius: 15px 0px 0px 15px;
      border: 2px solid rgba(118, 58, 3, 0.8);
      background: rgba(0, 0, 0, 0.8);

      .search-box-icon {
        // img icon container
        width: 13px;
        height: 20px;
        position: relative;
        left: 10px;
      }

      .search-box-input-form {
        // Input field
        all: unset;
        width: 250px;
        left: 20px;
        position: relative;

        ::placeholder {
          // Tex styling for the input field
          font-family: Tahoma, sans-serif;
          font-weight: 400;
          color: #ffffff;
          text-align: right;
          font-size: 15px;
          letter-spacing: 1.2px;
          line-height: 16px;
        }
      }
    }

    .search-btn-container {
      // Search button container
      display: flex;
      width: 40px;
      height: 40px;
      border-radius: 0px 15px 15px 0px;
      border: 2px solid rgba(118, 58, 3, 0.8);
      background: #4d7ea8;
      justify-content: center;
      align-items: center;

      .search-btn {
        // Button element for the search icon
        display: flex;
        width: 40px;
        height: 40px;
        all: unset;

        .search-btn-icon {
          // Search icon/img
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .hero-card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 220px;

    .hero-card-bg {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 310px;
      height: 220px;
      flex-shrink: 0;
      margin-top: 41px;
      border: 2px solid rgba(118, 58, 3, 0.8);
      background: rgba(204, 173, 143, 0.8);
    }
  }
}

/* FRONT PAGE GRID LAYOUT */
.fp-grid {
  border: 1px solid black;
}
