h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}

h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0);
}

p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}

body {
  background-color: #ccad8f;
}

/* HEADER SECTION */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Header | Container */
  /* Phone button | Bottom of the page */
}
header .header-section {
  background-image: linear-gradient(hsla(29, 95%, 24%, 0.2), hsla(30, 37%, 68%, 0.2));
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Header-Login | Container */
  /* Search Button */
  /* Resto Logo */
  /* DROPDOWN */
  /* Dropdown | Container */
}
header .header-section .login, header .header-section .dropdown .toggle-btn, header .header-section .search {
  width: 41px;
  height: 41px;
  /* Header-Login | BTN */
}
header .header-section .login .login-btn, header .header-section .dropdown .toggle-btn .login-btn, header .header-section .dropdown .toggle-btn .toggle-btn-icon, header .header-section .search .login-btn, header .header-section .search .search-btn {
  font-size: 41px;
  color: rgba(0, 0, 0, 0.8);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
header .header-section .resto {
  width: 203px;
  height: 59px;
}
header .header-section .resto img {
  width: inherit;
  height: inherit;
}
header .header-section .dropdown {
  /* Toggle Button | Drop-down button */
  /* Dropdown-Content | Container */
  /* Dropdown-Login | Container */
  /* Dropdown-Menu | Container */
  /* Dropdown-Footer */
}
header .header-section .dropdown .toggle-btn {
  position: inherit;
}
header .header-section .dropdown .dropdown-content {
  width: 100%;
  height: 536px;
  top: 100px;
  left: 0;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  background: #ccad8f;
}
header .header-section .dropdown .dropdown-content-login {
  width: 280px;
  height: 43px;
  flex-shrink: 0;
}
header .header-section .dropdown form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 264px;
  height: 45px;
  font-size: 13px;
}
header .header-section .dropdown form i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 10px;
  height: 10px;
}
header .header-section .dropdown form span {
  position: relative;
  letter-spacing: 1.95px;
  left: 10px;
  margin-right: 5px;
}
header .header-section .dropdown form input {
  display: flex;
  background: none;
  position: relative;
  border: none;
  width: 146px;
  height: 15px;
  margin-bottom: 6px;
  left: 5px;
  color: #000;
  letter-spacing: 1.95px;
  border-bottom: 1px solid #000;
}
header .header-section .dropdown form input:focus {
  outline: none;
}
header .header-section .dropdown form #dropdown-password {
  width: 165px;
}
header .header-section .dropdown .dropdown-content-menu {
  display: flex;
  width: 310px;
  height: 266px;
  top: 78px;
  position: absolute;
}
header .header-section .dropdown ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  flex-shrink: 0;
}
header .header-section .dropdown ol li:hover {
  background: rgba(255, 255, 255, 0.5);
}
header .header-section .dropdown ol li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 310px;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.788);
}
header .header-section .dropdown ol li h3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 5px;
}
header .header-section .dropdown ol li p {
  color: #000;
  text-align: right;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-right: 5px;
}
header .header-section .dropdown .dropdown-language {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 8px;
  gap: 10px;
  bottom: 44px;
  border: 1px solid black;
}
header .header-section .dropdown .dropdown-language button {
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
  font-size: 15px;
  background: local;
  border: none;
  cursor: pointer;
  outline: inherit;
}
header .header-section .dropdown .dropdown-language button :hover {
  background: rgba(255, 255, 255, 0.5);
}
header .header-section .dropdown .dropdown-language .se {
  font-weight: 700;
}
header .header-section .dropdown .dropdown-language .separator {
  width: 1px;
  height: 15px;
  border: 1px solid black;
}
header .header-section .dropdown .dropdown-language .en {
  font-weight: 400;
}
header .header-section .dropdown .dropdown-footer {
  position: fixed;
  width: 390px;
  height: 227px;
  flex-shrink: 0;
  bottom: 0px;
}
header .dropdown:hover .dropdown-content {
  display: flex;
}
header .phone-btn-container {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 235px;
  right: 0%;
}
header .phone-btn-container .phone-toggle, header .phone-btn-container .phone-toggle .phone {
  display: flex;
  position: fixed;
  width: 194px;
  height: 100px;
  bottom: 235px;
  right: 0%;
}
header .phone-btn-container .phone-toggle .phone {
  width: 50px;
  height: 50px;
}
header .phone-btn-container .phone-toggle .phone-card {
  display: none;
  width: 294px;
  height: 100px;
  background-color: rgba(77, 126, 168, 0.8);
}
header .phone-btn-container .phone-toggle .phone-phone-nr, header .phone-btn-container .phone-toggle .phone-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  letter-spacing: 1.95px;
  font-weight: 400;
  text-decoration-line: underline;
}
header .phone-btn-container .phone-toggle .phone-text {
  width: 200px;
  height: 50px;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  font-family: Tahoma;
  font-style: normal;
}
header .phone-btn-container:hover .phone-card {
  display: block;
}

footer {
  width: 100%;
  height: 227px;
  background-color: #000;
  bottom: 0;
  margin-top: auto;
}
footer .text {
  min-width: 330px;
  max-height: 80%;
  display: flex;
  justify-content: space-evenly;
}
footer .contact, footer .list {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  margin: 10px;
  text-align: center;
}
footer address {
  padding-top: 20px;
}
footer address .titleAddress {
  font-size: 20px;
  color: whitesmoke;
}
footer address p {
  color: whitesmoke;
}
footer .list {
  border-left: 1px solid whitesmoke;
  padding-top: 15px;
}
footer .list h3 {
  color: whitesmoke;
}
footer .list a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 10px;
}
footer .icon {
  min-width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid whitesmoke;
}
footer .icon .fb, footer .icon .mastercard, footer .icon .visa, footer .icon .klarna, footer .icon .twitter, footer .icon .instagram {
  font-size: 24px;
  margin: 5px;
  color: whitesmoke;
}
footer .bottomIcons {
  padding: 5px;
  color: whitesmoke;
  font-size: 24px;
  display: none;
}
footer .bottomIcons .socialMedia ul, footer .bottomIcons .payMethods ul {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 15%;
  list-style: none;
}
@media screen and (min-width: 768px) {
  footer .text {
    display: flex;
    justify-content: space-evenly;
  }
  footer .text .contact address, footer .text .list address,
  footer .text .contact p,
  footer .text .list p {
    font-size: 1.4em;
  }
  footer .text .list {
    border: none;
  }
  footer .text .list a:hover {
    color: #4d7ea8;
  }
  footer .text .list h3,
  footer .text .list a {
    font-size: 1.3em;
  }
  footer .text .bottomIcons {
    display: flex;
    text-align: center;
    padding-top: 15px;
    margin: 10px;
    padding-left: 20px;
    font-size: 32px;
    width: 100%;
  }
  footer .text .bottomIcons .socialMedia,
  footer .text .bottomIcons .payMethods {
    width: 50%;
  }
  footer .text .bottomIcons .socialMedia h3,
  footer .text .bottomIcons .payMethods h3 {
    color: whitesmoke;
    font-size: 0.6em;
  }
  footer .text .bottomIcons .socialMedia ul,
  footer .text .bottomIcons .payMethods ul {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  footer .text .bottomIcons .socialMedia ul :hover,
  footer .text .bottomIcons .payMethods ul :hover {
    color: #4d7ea8;
    cursor: pointer;
  }
  footer .icon {
    display: none;
  }
}
.search-bar {
  width: 310px;
  height: 119px;
  flex-shrink: 0;
  margin-top: 79px;
  display: flex;
  position: relative;
}

.search-box {
  align-items: center;
  gap: 20px;
  width: 265px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px 0px 0px 15px;
  border: 2px solid rgba(118, 58, 3, 0.8);
  padding: 0px 10px;
  margin: 275px 85px 2209px 40px;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 0px, 15px, 15px, 0px;
  margin-left: 285px;
  background: transparent;
  border: none;
  padding: 0;
  margin-top: -40px;
}

.front-page-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.text-and-icon {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 15px 10px 0px;
  width: 100%;
  height: 20px;
  padding: 0;
}

.vector {
  width: 13px;
  height: 20px;
  margin: 8px;
  margin: 0px 8px 0px 12px;
}

.text-wrapper {
  flex: 1;
  width: 100%;
  height: 48px;
  vertical-align: top;
  background: transparent;
  border: none;
  padding: 0;
}

::-moz-placeholder {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 16px;
}

::placeholder {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 16px;
}

.contactBody {
  background-image: url("/contact/img/background.png");
  background-color: #c9f0ff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.contactBody .main-wrapper .contact-us {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 700px;
  top: 100px;
}
.contactBody .main-wrapper .contact-us .contact-text {
  margin-top: 7px;
  margin-bottom: 39px;
  margin-left: 8px;
  margin-right: 8px;
}
.contactBody .main-wrapper .contact-us .contact-text .contactH1 {
  text-shadow: 2px 2px grey;
  text-transform: uppercase;
  margin: 10px 20px 10px 10px;
}
.contactBody .main-wrapper .contact-us .containerContact {
  max-width: 300px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #ccad8f;
  z-index: 0;
}
.contactBody .main-wrapper .contact-us .containerContact .contact-wrapper {
  width: 248px;
  margin: 10px;
  padding-left: 5px;
  padding-top: 10px;
}
.contactBody .main-wrapper .contact-us .containerContact .contact-wrapper ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
}
.contactBody .main-wrapper .contact-us .containerContact .contact-wrapper ::placeholder {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
}
.contactBody .main-wrapper .contact-us .containerContact .contact-wrapper .field {
  width: 100%;
  padding: 3px 5px;
  margin: 3px;
  background: whitesmoke;
  border: 1px solid #000;
  text-align: left;
}
.contactBody .main-wrapper .contact-us .containerContact .contact-wrapper .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  width: 265px;
}
.contactBody .main-wrapper .contact-us .containerContact .contact-wrapper .row .fieldSpan {
  flex-basis: 50%;
  padding-top: 5px;
  align-items: center;
  text-align: center;
}
.contactBody .main-wrapper .contact-us .containerContact .contact-wrapper .sendButtonContact {
  width: 70px;
  margin-bottom: 10px;
  padding: 2px;
  margin-left: 190px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #4d7ea8;
  color: white;
}
.contactBody .main-wrapper .contact-us .containerContact .contact-wrapper select {
  width: 50%;
  margin-left: 25%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #000;
}

* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  min-width: 100%;
  min-height: 1600px;
}/*# sourceMappingURL=style.css.map */