h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}

h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0);
}

p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}

* h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}
* h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}
* h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0);
}
* p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}

/* HEADER SECTION */
.header-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  /* Header | Container */
  /* Phone button | Bottom of the page */
  /* .phone-btn-container {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 235px;
    right: 0%;

    .phone-toggle {
      display: flex;
      position: fixed;
      width: 194px;
      height: 100px;
      bottom: 235px;
      right: 0%;

      img {
        transition:
          transform 0.3s ease,
          border-radius 0.6s ease;
        border-radius: 0;

        &:hover {
          border-radius: 50%;
          transform: rotate(180deg);
        }
      }
      .phone-icon {
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        outline: inherit;
        width: 100%;
        height: 100%;
        padding: 0;
      }
    }

    .phone {
      @extend .phone-toggle;
      width: 50px;
      height: 50px;
      border: 0;
      background: none;
    }

    .phone-card {
      visibility: hidden;
      width: 294px;
      height: 100px;
      background-color: $colorDB;
      position: static;
    }

    .phone-phone-nr {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      width: 150px;
      height: 50px;
      letter-spacing: 1.95px;
      font-weight: 400;
      text-decoration-line: underline;
    }

    .phone-text {
      @extend .phone-phone-nr;
      width: 200px;
      height: 50px;
      letter-spacing: 3px;
      font-size: 20px;
      font-weight: 400;
      text-decoration-line: none;
      font-family: Tahoma;
      font-style: normal;
    }
  } */
}
.header-container .header-section {
  z-index: 1;
  background-image: linear-gradient(hsla(29, 95%, 24%, 0.2), hsla(30, 37%, 68%, 0.2));
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Header-Login | Container */
  /* Search Button */
  /* Resto Logo */
  /* DROPDOWN */
  /* Dropdown | Container */
}
.header-container .header-section .login, .header-container .header-section .search {
  /* Header-Login | BTN */
}
.header-container .header-section .login .login-btn, .header-container .header-section .search .login-btn, .header-container .header-section .search .search-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
}
.header-container .header-section .login .login-btn .login-btn-icon-2, .header-container .header-section .search .login-btn .login-btn-icon-2, .header-container .header-section .search .search-btn .login-btn-icon-2 {
  display: none;
}
.header-container .header-section .login .login-btn:hover .login-btn-icon-1, .header-container .header-section .search .login-btn:hover .login-btn-icon-1, .header-container .header-section .search .search-btn:hover .login-btn-icon-1 {
  display: none;
}
.header-container .header-section .login .login-btn:hover .login-btn-icon-2, .header-container .header-section .search .login-btn:hover .login-btn-icon-2, .header-container .header-section .search .search-btn:hover .login-btn-icon-2 {
  display: inline-block;
}
.header-container .header-section .search .search-btn img {
  transition: transform 0.3s ease;
}
.header-container .header-section .search .search-btn img:hover {
  transform: rotate(90deg);
}
.header-container .header-section .resto {
  width: 203px;
  height: 59px;
}
.header-container .header-section .resto img {
  width: inherit;
  height: inherit;
}
.header-container .header-section .dropdown {
  /* Toggle Button | Drop-down button */
  /* Dropdown-Content | Container */
  /* Dropdown-Login | Container */
  /* Dropdown-Menu | Container */
  /* Dropdown-Footer */
}
.header-container .header-section .dropdown .toggle-btn img, .header-container .header-section .dropdown .login img, .header-container .header-section .dropdown .search img {
  transition: transform 0.3s ease;
}
.header-container .header-section .dropdown .toggle-btn img:hover, .header-container .header-section .dropdown .login img:hover, .header-container .header-section .dropdown .search img:hover {
  transform: rotate(180deg);
}
.header-container .header-section .dropdown .toggle-btn .toggle-btn-icon, .header-container .header-section .dropdown .login .toggle-btn-icon, .header-container .header-section .dropdown .search .toggle-btn-icon {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
}
.header-container .header-section .dropdown .toggle-btn .toggle-btn-icon .menu-btn-icon-2, .header-container .header-section .dropdown .login .toggle-btn-icon .menu-btn-icon-2, .header-container .header-section .dropdown .search .toggle-btn-icon .menu-btn-icon-2 {
  display: none;
}
.header-container .header-section .dropdown .toggle-btn .toggle-btn-icon:hover .menu-btn-icon-1, .header-container .header-section .dropdown .login .toggle-btn-icon:hover .menu-btn-icon-1, .header-container .header-section .dropdown .search .toggle-btn-icon:hover .menu-btn-icon-1 {
  display: none;
}
.header-container .header-section .dropdown .toggle-btn .toggle-btn-icon:hover .menu-btn-icon-2, .header-container .header-section .dropdown .login .toggle-btn-icon:hover .menu-btn-icon-2, .header-container .header-section .dropdown .search .toggle-btn-icon:hover .menu-btn-icon-2 {
  display: inline-block;
}
.header-container .header-section .dropdown .dropdown-content {
  width: 100%;
  height: 536px;
  top: 100px;
  left: 0;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #ccad8f;
}
.header-container .header-section .dropdown .dropdown-content-login {
  width: 280px;
  height: 43px;
  flex-shrink: 0;
}
.header-container .header-section .dropdown form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 264px;
  height: 45px;
  font-size: 13px;
}
.header-container .header-section .dropdown form i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 10px;
  height: 10px;
}
.header-container .header-section .dropdown form span {
  position: relative;
  letter-spacing: 1.95px;
  left: 10px;
  margin-right: 5px;
}
.header-container .header-section .dropdown form input {
  display: flex;
  background: none;
  position: relative;
  border: none;
  width: 151px;
  height: 15px;
  margin-bottom: 6px;
  left: 10px;
  color: #000;
  letter-spacing: 1.95px;
  border-bottom: 1px solid #000;
}
.header-container .header-section .dropdown form input:focus {
  outline: none;
}
.header-container .header-section .dropdown form #dropdown-password {
  width: 170px;
}
.header-container .header-section .dropdown .dropdown-content-menu {
  display: flex;
  width: 310px;
  height: 266px;
  top: 78px;
  position: absolute;
}
.header-container .header-section .dropdown ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  flex-shrink: 0;
}
.header-container .header-section .dropdown ol li:hover {
  background: rgba(255, 255, 255, 0.5);
}
.header-container .header-section .dropdown ol li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 310px;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.788);
}
.header-container .header-section .dropdown ol li a {
  all: unset;
  display: contents;
}
.header-container .header-section .dropdown ol li a h3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 5px;
}
.header-container .header-section .dropdown ol li a p {
  color: #000;
  text-align: right;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-right: 5px;
}
.header-container .header-section .dropdown .dropdown-language {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 8px;
  gap: 10px;
  bottom: 44px;
  border: 1px solid black;
}
.header-container .header-section .dropdown .dropdown-language button {
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
  font-size: 15px;
  background: local;
  border: none;
  cursor: pointer;
  outline: inherit;
}
.header-container .header-section .dropdown .dropdown-language button :hover {
  background: rgba(255, 255, 255, 0.5);
}
.header-container .header-section .dropdown .dropdown-language .se {
  font-weight: 700;
}
.header-container .header-section .dropdown .dropdown-language .separator {
  width: 1px;
  height: 15px;
  border: 1px solid black;
}
.header-container .header-section .dropdown .dropdown-language .en {
  font-weight: 400;
}
.header-container .header-section .dropdown .dropdown-footer {
  position: fixed;
  width: 390px;
  height: 227px;
  flex-shrink: 0;
  bottom: 0px;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer {
  width: 100%;
  height: 227px;
  bottom: 0;
  background-color: #763a03;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer .text {
  min-width: 330px;
  max-height: 80%;
  display: flex;
  justify-content: space-evenly;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer .contact, .header-container .header-section .dropdown .dropdown-footer .header-footer .list {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  text-align: center;
  padding-top: 35px;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer address .titleAddress {
  font-size: 20px;
  color: whitesmoke;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer address p {
  color: whitesmoke;
  font-size: 15px;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer h3 {
  color: whitesmoke;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 10px;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer .icon {
  min-width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer .icon .fb, .header-container .header-section .dropdown .dropdown-footer .header-footer .icon .mastercard, .header-container .header-section .dropdown .dropdown-footer .header-footer .icon .visa, .header-container .header-section .dropdown .dropdown-footer .header-footer .icon .klarna, .header-container .header-section .dropdown .dropdown-footer .header-footer .icon .twitter, .header-container .header-section .dropdown .dropdown-footer .header-footer .icon .instagram {
  font-size: 24px;
  margin: 5px;
  color: whitesmoke;
}
.header-container .dropdown:hover .dropdown-content {
  display: flex;
}

/* .phone-btn-container:hover .phone-card {
  visibility: visible;
} */
/* Phone button | Bottom of the page */
.phone-dropdown {
  position: fixed;
  bottom: 235px;
  right: 0%;
  width: 50px;
  height: 50px;
  /* Toggle Button | Drop-down button */
}
.phone-dropdown .phone-toggle-btn {
  width: 50px;
  height: 50px;
}
.phone-dropdown .phone-toggle-btn .phone-toggle-btn-icon {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 1;
}
.phone-dropdown .phone-toggle-btn .phone-toggle-btn-icon .phone-toggle-btn-icon-1 {
  transition: transform 0.3s ease, border-radius 0.6s ease;
  border-radius: 0;
}
.phone-dropdown .phone-toggle-btn .phone-toggle-btn-icon .phone-toggle-btn-icon-1:hover {
  border-radius: 50%;
  transform: rotate(180deg);
}

.phone-dropdown-content {
  display: none;
  position: absolute;
  width: 210px;
  height: 100px;
  background-color: #4d7ea8;
  left: -10rem;
  bottom: 0;
  border-radius: 30px 30px 0px 30px;
}
.phone-dropdown-content .phone-phone-nr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  letter-spacing: 1.95px;
  font-weight: 400;
  text-decoration-line: underline;
}
.phone-dropdown-content .phone-text {
  width: 100%;
  height: 50px;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  font-family: Tahoma;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-dropdown:hover .phone-dropdown-content {
  display: block;
}

* h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}
* h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}
* h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0);
}
* p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}

footer {
  position: relative;
  width: 100%;
  height: 227px;
  bottom: 0;
  background-color: #763a03;
}
footer .text {
  min-width: 330px;
  max-height: 80%;
  display: flex;
  justify-content: space-evenly;
}
footer .contact, footer .list {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  text-align: center;
  padding-top: 35px;
}
footer address .titleAddress {
  font-size: 20px;
  color: whitesmoke;
}
footer address p {
  color: whitesmoke;
  font-size: 15px;
}
footer h3 {
  color: whitesmoke;
}
footer a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 10px;
}
footer .icon {
  min-width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .icon .fb, footer .icon .mastercard, footer .icon .visa, footer .icon .klarna, footer .icon .twitter, footer .icon .instagram {
  font-size: 24px;
  margin: 5px;
  color: whitesmoke;
}
/* MAIN WRAPPER */
.fp-wrapper {
  min-width: 100%;
  min-height: 1000px;
  margin-top: 100px;
  background-color: #ccad8f;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* HERO SECTION */
.hero-wrapper {
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
  margin: 10px;
}
.hero-wrapper .hero-background {
  background: #fefeff;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 730px;
  padding: inherit;
}
.hero-wrapper .hero-background .hero-background-img {
  width: 100%;
  background: url(/img/food_drawing.png), lightgray 50%/cover no-repeat;
  /* HERO HEADING TEXT */
  /* SEARCH-BAR */
  /* INFORMATION CARD */
  /* CALL TO ACTION SECTION */
}
.hero-wrapper .hero-background .hero-background-img .hero-heading {
  width: 100%;
  height: 100px;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.hero-wrapper .hero-background .hero-background-img .hero-heading .hero-h1 {
  color: #763a03;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  line-height: normal;
  letter-spacing: 3.2px;
}
.hero-wrapper .hero-background .hero-background-img .hero-heading .hero-h2 {
  background: linear-gradient(180deg, #4d7ea8 0%, rgba(0, 0, 0, 0.8) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: normal;
  letter-spacing: 8.4px;
}
.hero-wrapper .hero-background .hero-background-img .search-bar {
  width: 100%;
  display: inline-flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 18px 0px 41px 0px;
}
.hero-wrapper .hero-background .hero-background-img .search-bar .search-box {
  display: flex;
  align-items: center;
  width: 265px;
  height: 40px;
  border-radius: 15px 0px 0px 15px;
  border: 2px solid rgba(118, 58, 3, 0.8);
  background: rgba(0, 0, 0, 0.8);
}
.hero-wrapper .hero-background .hero-background-img .search-bar .search-box .search-box-icon {
  width: 13px;
  height: 20px;
  position: relative;
  left: 10px;
}
.hero-wrapper .hero-background .hero-background-img .search-bar .search-box .search-box-input-form {
  all: unset;
  width: 250px;
  left: 20px;
  position: relative;
}
.hero-wrapper .hero-background .hero-background-img .search-bar .search-box .search-box-input-form ::-moz-placeholder {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 16px;
}
.hero-wrapper .hero-background .hero-background-img .search-bar .search-box .search-box-input-form ::placeholder {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 16px;
}
.hero-wrapper .hero-background .hero-background-img .search-bar .search-btn-container {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 0px 15px 15px 0px;
  border: 2px solid rgba(118, 58, 3, 0.8);
  background: #4d7ea8;
  justify-content: center;
  align-items: center;
}
.hero-wrapper .hero-background .hero-background-img .search-bar .search-btn-container .search-btn {
  display: flex;
  width: 40px;
  height: 40px;
  all: unset;
}
.hero-wrapper .hero-background .hero-background-img .search-bar .search-btn-container .search-btn .search-btn-icon {
  width: 24px;
  height: 24px;
}
.hero-wrapper .hero-background .hero-background-img .hero-card {
  display: flex;
  justify-content: center;
  width: 100%;
}
.hero-wrapper .hero-background .hero-background-img .hero-card .hero-card-bg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 310px;
  height: 220px;
  flex-shrink: 0;
  border: 2px solid rgba(118, 58, 3, 0.8);
  background: rgba(204, 173, 143, 0.8);
}
.hero-wrapper .hero-background .hero-background-img .hero-card .hero-card-bg .hero-card-h2 {
  color: #000;
  font-size: 29px;
  font-weight: 400;
  line-height: normal;
}
.hero-wrapper .hero-background .hero-background-img .hero-card .hero-card-bg .hero-card-text {
  color: #000;
  font-size: 18.498px;
  line-height: normal;
}
.hero-wrapper .hero-background .hero-background-img .hero-cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 57px;
  width: 100%;
  height: 250px;
  /* CTA HEADING */
  /* CTA IMAGES */
  /* CTA BUTTON */
}
.hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-heading, .hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 24px;
}
.hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-heading .hero-cta-h1-1, .hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-img .hero-cta-h1-1, .hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-heading .hero-cta-h1-2, .hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-img .hero-cta-h1-2 {
  font-size: 20px;
  width: 50%;
  line-height: normal;
  letter-spacing: 4px;
  background: linear-gradient(180deg, #000 0%, rgb(118, 58, 3) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-align-last: center;
       text-align-last: center;
}
.hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-img {
  height: 175px;
  display: flex;
  gap: 10px;
}
.hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-img .hero-cta-img-1, .hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-img .hero-cta-img-2 {
  width: 172px;
  height: 172px;
  flex-shrink: 0;
  border: 2px solid rgba(118, 58, 3, 0.8);
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-img .hero-cta-img-1 img, .hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-img .hero-cta-img-2 img {
  width: 100%;
  height: auto;
}
.hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-img .hero-cta-img-2 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: rgba(255, 255, 255, 0.8);
}
.hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-btns {
  display: flex;
  width: 100%;
  height: 24px;
  align-items: center;
  justify-content: space-around;
}
.hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-btns .hero-cta-btn-1, .hero-wrapper .hero-background .hero-background-img .hero-cta .hero-cta-btns .hero-cta-btn-2 {
  width: 40px;
  height: 40px;
  all: unset;
}
/* FRONT PAGE GRID LAYOUT */
.fp-grid-1 {
  border: 1px solid black;
  scroll-margin: 12rem;
  scroll-snap-align: center;
}

.fp-grid-2 {
  border: 1px solid black;
  scroll-margin: 12rem;
  scroll-snap-align: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
}
* h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}
* h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}
* h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0);
}
* p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}

.wrapper {
  min-width: 100%;
  min-height: 1000px;
  margin-top: 100px;
  background-color: #ccad8f;
}/*# sourceMappingURL=style.css.map */