h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}

h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0);
}

p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}

* h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}
* h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}
* h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0);
}
* p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}

/* HEADER SECTION */
.header-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  /* Header | Container */
  /* Phone button | Bottom of the page */
  /* .phone-btn-container {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 235px;
    right: 0%;

    .phone-toggle {
      display: flex;
      position: fixed;
      width: 194px;
      height: 100px;
      bottom: 235px;
      right: 0%;

      img {
        transition:
          transform 0.3s ease,
          border-radius 0.6s ease;
        border-radius: 0;

        &:hover {
          border-radius: 50%;
          transform: rotate(180deg);
        }
      }
      .phone-icon {
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        outline: inherit;
        width: 100%;
        height: 100%;
        padding: 0;
      }
    }

    .phone {
      @extend .phone-toggle;
      width: 50px;
      height: 50px;
      border: 0;
      background: none;
    }

    .phone-card {
      visibility: hidden;
      width: 294px;
      height: 100px;
      background-color: $colorDB;
      position: static;
    }

    .phone-phone-nr {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      width: 150px;
      height: 50px;
      letter-spacing: 1.95px;
      font-weight: 400;
      text-decoration-line: underline;
    }

    .phone-text {
      @extend .phone-phone-nr;
      width: 200px;
      height: 50px;
      letter-spacing: 3px;
      font-size: 20px;
      font-weight: 400;
      text-decoration-line: none;
      font-family: Tahoma;
      font-style: normal;
    }
  } */
}
.header-container .header-section {
  z-index: 1;
  background-image: linear-gradient(hsla(29, 95%, 24%, 0.2), hsla(30, 37%, 68%, 0.2));
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Header-Login | Container */
  /* Search Button */
  /* Resto Logo */
  /* DROPDOWN */
  /* Dropdown | Container */
}
.header-container .header-section .login, .header-container .header-section .search {
  /* Header-Login | BTN */
}
.header-container .header-section .login .login-btn, .header-container .header-section .search .login-btn, .header-container .header-section .search .search-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
}
.header-container .header-section .login .login-btn .login-btn-icon-2, .header-container .header-section .search .login-btn .login-btn-icon-2, .header-container .header-section .search .search-btn .login-btn-icon-2 {
  display: none;
}
.header-container .header-section .login .login-btn:hover .login-btn-icon-1, .header-container .header-section .search .login-btn:hover .login-btn-icon-1, .header-container .header-section .search .search-btn:hover .login-btn-icon-1 {
  display: none;
}
.header-container .header-section .login .login-btn:hover .login-btn-icon-2, .header-container .header-section .search .login-btn:hover .login-btn-icon-2, .header-container .header-section .search .search-btn:hover .login-btn-icon-2 {
  display: inline-block;
}
.header-container .header-section .search .search-btn img {
  transition: transform 0.3s ease;
}
.header-container .header-section .search .search-btn img:hover {
  transform: rotate(90deg);
}
.header-container .header-section .resto {
  width: 203px;
  height: 59px;
}
.header-container .header-section .resto img {
  width: inherit;
  height: inherit;
}
.header-container .header-section .dropdown {
  /* Toggle Button | Drop-down button */
  /* Dropdown-Content | Container */
  /* Dropdown-Login | Container */
  /* Dropdown-Menu | Container */
  /* Dropdown-Footer */
}
.header-container .header-section .dropdown .toggle-btn img, .header-container .header-section .dropdown .login img, .header-container .header-section .dropdown .search img {
  transition: transform 0.3s ease;
}
.header-container .header-section .dropdown .toggle-btn img:hover, .header-container .header-section .dropdown .login img:hover, .header-container .header-section .dropdown .search img:hover {
  transform: rotate(180deg);
}
.header-container .header-section .dropdown .toggle-btn .toggle-btn-icon, .header-container .header-section .dropdown .login .toggle-btn-icon, .header-container .header-section .dropdown .search .toggle-btn-icon {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
}
.header-container .header-section .dropdown .toggle-btn .toggle-btn-icon .menu-btn-icon-2, .header-container .header-section .dropdown .login .toggle-btn-icon .menu-btn-icon-2, .header-container .header-section .dropdown .search .toggle-btn-icon .menu-btn-icon-2 {
  display: none;
}
.header-container .header-section .dropdown .toggle-btn .toggle-btn-icon:hover .menu-btn-icon-1, .header-container .header-section .dropdown .login .toggle-btn-icon:hover .menu-btn-icon-1, .header-container .header-section .dropdown .search .toggle-btn-icon:hover .menu-btn-icon-1 {
  display: none;
}
.header-container .header-section .dropdown .toggle-btn .toggle-btn-icon:hover .menu-btn-icon-2, .header-container .header-section .dropdown .login .toggle-btn-icon:hover .menu-btn-icon-2, .header-container .header-section .dropdown .search .toggle-btn-icon:hover .menu-btn-icon-2 {
  display: inline-block;
}
.header-container .header-section .dropdown .dropdown-content {
  width: 100%;
  height: 536px;
  top: 100px;
  left: 0;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #ccad8f;
}
.header-container .header-section .dropdown .dropdown-content-login {
  width: 280px;
  height: 43px;
  flex-shrink: 0;
}
.header-container .header-section .dropdown form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 264px;
  height: 45px;
  font-size: 13px;
}
.header-container .header-section .dropdown form i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 10px;
  height: 10px;
}
.header-container .header-section .dropdown form span {
  position: relative;
  letter-spacing: 1.95px;
  left: 10px;
  margin-right: 5px;
}
.header-container .header-section .dropdown form input {
  display: flex;
  background: none;
  position: relative;
  border: none;
  width: 146px;
  height: 15px;
  margin-bottom: 6px;
  left: 10px;
  color: #000;
  letter-spacing: 1.95px;
  border-bottom: 1px solid #000;
}
.header-container .header-section .dropdown form input:focus {
  outline: none;
}
.header-container .header-section .dropdown form #dropdown-password {
  width: 165px;
}
.header-container .header-section .dropdown .dropdown-content-menu {
  display: flex;
  width: 310px;
  height: 266px;
  top: 78px;
  position: absolute;
}
.header-container .header-section .dropdown ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  flex-shrink: 0;
}
.header-container .header-section .dropdown ol li:hover {
  background: rgba(255, 255, 255, 0.5);
}
.header-container .header-section .dropdown ol li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 310px;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.788);
}
.header-container .header-section .dropdown ol li a {
  all: unset;
  display: contents;
}
.header-container .header-section .dropdown ol li a h3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 5px;
}
.header-container .header-section .dropdown ol li a p {
  color: #000;
  text-align: right;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-right: 5px;
}
.header-container .header-section .dropdown .dropdown-language {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 8px;
  gap: 10px;
  bottom: 44px;
  border: 1px solid black;
}
.header-container .header-section .dropdown .dropdown-language button {
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
  font-size: 15px;
  background: local;
  border: none;
  cursor: pointer;
  outline: inherit;
}
.header-container .header-section .dropdown .dropdown-language button :hover {
  background: rgba(255, 255, 255, 0.5);
}
.header-container .header-section .dropdown .dropdown-language .se {
  font-weight: 700;
}
.header-container .header-section .dropdown .dropdown-language .separator {
  width: 1px;
  height: 15px;
  border: 1px solid black;
}
.header-container .header-section .dropdown .dropdown-language .en {
  font-weight: 400;
}
.header-container .header-section .dropdown .dropdown-footer {
  position: fixed;
  width: 390px;
  height: 227px;
  flex-shrink: 0;
  bottom: 0px;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer {
  width: 100%;
  height: 227px;
  bottom: 0;
  background-color: #763a03;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer .text {
  min-width: 330px;
  max-height: 80%;
  display: flex;
  justify-content: space-evenly;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer .contact, .header-container .header-section .dropdown .dropdown-footer .header-footer .list {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  text-align: center;
  padding-top: 35px;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer address .titleAddress {
  font-size: 20px;
  color: whitesmoke;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer address p {
  color: whitesmoke;
  font-size: 15px;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer h3 {
  color: whitesmoke;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 10px;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer .icon {
  min-width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-container .header-section .dropdown .dropdown-footer .header-footer .icon .fb, .header-container .header-section .dropdown .dropdown-footer .header-footer .icon .mastercard, .header-container .header-section .dropdown .dropdown-footer .header-footer .icon .visa, .header-container .header-section .dropdown .dropdown-footer .header-footer .icon .klarna, .header-container .header-section .dropdown .dropdown-footer .header-footer .icon .twitter, .header-container .header-section .dropdown .dropdown-footer .header-footer .icon .instagram {
  font-size: 24px;
  margin: 5px;
  color: whitesmoke;
}
.header-container .dropdown:hover .dropdown-content {
  display: flex;
}

/* .phone-btn-container:hover .phone-card {
  visibility: visible;
} */
/* Phone button | Bottom of the page */
.phone-dropdown {
  position: fixed;
  bottom: 235px;
  right: 0%;
  width: 50px;
  height: 50px;
  /* Toggle Button | Drop-down button */
}
.phone-dropdown .phone-toggle-btn {
  width: 50px;
  height: 50px;
}
.phone-dropdown .phone-toggle-btn .phone-toggle-btn-icon {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 1;
}
.phone-dropdown .phone-toggle-btn .phone-toggle-btn-icon .phone-toggle-btn-icon-1 {
  transition: transform 0.3s ease, border-radius 0.6s ease;
  border-radius: 0;
}
.phone-dropdown .phone-toggle-btn .phone-toggle-btn-icon .phone-toggle-btn-icon-1:hover {
  border-radius: 50%;
  transform: rotate(180deg);
}

.phone-dropdown-content {
  display: none;
  position: absolute;
  width: 210px;
  height: 100px;
  background-color: #4d7ea8;
  left: -10rem;
  bottom: 0;
  border-radius: 30px 30px 0px 30px;
}
.phone-dropdown-content .phone-phone-nr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  letter-spacing: 1.95px;
  font-weight: 400;
  text-decoration-line: underline;
}
.phone-dropdown-content .phone-text {
  width: 100%;
  height: 50px;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  font-family: Tahoma;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-dropdown:hover .phone-dropdown-content {
  display: block;
}

* h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}
* h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}
* h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0);
}
* p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}

footer {
  width: 100%;
  height: 227px;
  bottom: 0;
  background-color: #763a03;
}
footer .text {
  min-width: 330px;
  max-height: 80%;
  display: flex;
  justify-content: space-evenly;
}
footer .contact, footer .list {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  text-align: center;
  padding-top: 35px;
}
footer address .titleAddress {
  font-size: 20px;
  color: whitesmoke;
}
footer address p {
  color: whitesmoke;
  font-size: 15px;
}
footer h3 {
  color: whitesmoke;
}
footer a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 10px;
}
footer .icon {
  min-width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .icon .fb, footer .icon .mastercard, footer .icon .visa, footer .icon .klarna, footer .icon .twitter, footer .icon .instagram {
  font-size: 24px;
  margin: 5px;
  color: whitesmoke;
}
.search-bar {
  width: 310px;
  height: 119px;
  flex-shrink: 0;
  margin-top: 79px;
  display: flex;
  position: relative;
}

.search-box {
  align-items: center;
  gap: 20px;
  width: 265px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px 0px 0px 15px;
  border: 2px solid rgba(118, 58, 3, 0.8);
  padding: 0px 10px;
  margin: 275px 85px 2209px 40px;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 0px, 15px, 15px, 0px;
  margin-left: 285px;
  background: transparent;
  border: none;
  padding: 0;
  margin-top: -40px;
}

.front-page-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.text-and-icon {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 15px 10px 0px;
  width: 100%;
  height: 20px;
  padding: 0;
}

.vector {
  width: 13px;
  height: 20px;
  margin: 8px;
  margin: 0px 8px 0px 12px;
}

.text-wrapper {
  flex: 1;
  width: 100%;
  height: 48px;
  vertical-align: top;
  background: transparent;
  border: none;
  padding: 0;
}

::-moz-placeholder {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 16px;
}

::placeholder {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 16px;
}

.priceBody {
  width: 100%;
  height: auto;
  margin: 0;
  background: url(/pricelist/img/cake-balls-4139982_1280.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.price-wrapper {
  margin-top: 167px;
  min-height: 913px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}
.price-wrapper .card-body {
  position: relative;
  background: linear-gradient(hsla(29, 95%, 24%, 0.2), hsla(30, 37%, 68%, 0.2));
  margin: 1.87% 4.87% 0.77% 5.13%;
  width: 90%;
  min-height: 867px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price-wrapper .card-image-box {
  width: 100%;
  min-width: 155px;
  height: 125px;
}
.price-wrapper .cards-heading {
  width: 314px;
  height: 30px;
  margin-top: 22px;
  overflow: visible;
  text-align: center;
  word-wrap: break-word;
  font-weight: 700;
  position: relative;
}
.price-wrapper .cards-heading h1 {
  position: absolute;
  margin-top: -60px;
}
.price-wrapper p {
  color: #4d7ea8;
  font-size: 10px;
  font-weight: bold;
}
.price-wrapper .price-card {
  width: 30%;
  min-width: 156px;
  max-width: 692px;
  min-height: 250px;
  height: auto;
  margin-right: 8px;
  margin-left: 8px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.price-wrapper .card:hover {
  transform: scale(1.1);
}
.price-wrapper .cards-wrapper {
  margin-top: 29px;
  height: calc(100% - 30px);
}
.price-wrapper .first-card, .price-wrapper .second-card {
  margin-bottom: 35px;
}
.price-wrapper .third-card, .price-wrapper .forth-card {
  margin-bottom: 34px;
}
.price-wrapper .fifth-card {
  margin-bottom: 6px;
}
.price-wrapper .card-image-box img {
  width: 100%;
  min-height: 156px;
  min-height: 128px;
  height: auto;
}
.price-wrapper .card-content {
  min-height: 125px;
  min-height: 156px;
  height: auto;
  width: 100%;
  background: linear-gradient(#CCAD8F, white, #CCAD8F);
  position: relative;
}
.price-wrapper .service-text {
  margin: 0;
  text-align: center;
}
.price-wrapper .price-btn-box {
  height: 43px;
  width: 138px;
  margin: 18px 8.99px 8px 8.9px;
  justify-content: center;
  align-items: center;
}
.price-wrapper .price-btn-box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9px;
}
.price-wrapper .price-btn-box2 {
  display: flex;
  justify-content: center;
}
.price-wrapper .btnprice {
  width: 65.62px;
  height: 17px;
  background: #4D7EA8;
  border-radius: 50px;
  border: none;
  margin-bottom: 5px;
  text-transform: uppercase;
  transition: 0.3s linear;
}
.price-wrapper .btnprice:hover {
  background: #4d7ea8;
  cursor: pointer;
}
.price-wrapper .btn-txt {
  width: 51.24px;
  height: 7px;
  left: 6.29px;
  top: 4px;
  text-align: center;
  color: white;
  font-size: 7px;
  font-family: Tahoma;
  font-weight: 700;
}
.price-wrapper .btnprice:active {
  background-color: #815f33;
}

@media only screen and (min-width: 800px) {
  .price-wrapper {
    height: auto;
  }
  .price-wrapper .cards-wrapper {
    width: 85%;
  }
  .price-wrapper .card-body {
    height: auto;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .price-wrapper .price-card {
    min-width: 692px;
    min-height: 654px;
    width: 30%;
    height: auto;
  }
  .price-wrapper .card-image-box img {
    min-width: 692px;
    height: 327px;
    width: 100%;
  }
  .price-wrapper .card-content {
    min-height: 327px;
    min-width: 692px;
    margin-top: 202px;
  }
  .price-wrapper .cards-heading {
    width: 1300px;
    margin-top: 11px;
  }
  .price-wrapper .cards-heading h1 {
    font-size: 66px;
    margin-top: -90px;
  }
  .price-wrapper .service-text {
    display: grid;
    height: 163.5px;
    margin-top: 20px;
    font-size: 18px;
  }
  .price-wrapper .price-card-h {
    margin-top: 20px;
    font-size: 42px;
  }
  .price-wrapper .price-card-p {
    font-size: 22px;
  }
  .price-wrapper .price-btn-box {
    height: 163.5px;
    margin-top: 10px;
    display: grid;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 2px;
  }
  .price-wrapper .btnprice {
    width: 150px;
    height: 40px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .price-wrapper .btn-txt {
    font-size: 16px;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
}
* h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}
* h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}
* h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0);
}
* p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}

.wrapper {
  min-width: 100%;
  min-height: 1600px;
  background-color: #ccad8f;
}/*# sourceMappingURL=style.css.map */