@use "design";
@use "header";
@use "footer";
@use "frontPage";
@use "membership-page/membership";

* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
