$colorBrown: #763a03;
$colorLB: #c9f0ff;
$colorDB: #4d7ea8;
$colorSand: #ccad8f;
$colorBlack: #000;

.smullBody{
    background-image: url(assets/oranges.webp);
    background-color: $colorLB;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .container{
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;

        .smullCard{
            display: flex;
            margin: 15px;
            width: 360px;
            height: 140px;
            background-image: linear-gradient($colorSand, whitesmoke);
            border-radius: 5px; 
    
                img {
                    height: 140px;
                    width: 164px;
                }
                .smullContainer{
                    display: flex;
                    align-items: center;

                    .smullText{
                        padding-top: 5px;
                        padding-left: 15px;
                        text-align: left;
                        width: 144px;
                        height: 132px;

                        p {
                            padding-top: 20px;
                        }
                    }
                }
        }
    }
}

@media screen and (min-width: 768px) {
    .smullBody {
        .container{
           section.smullCard{
                width: 600px;
                height: 250px;

                img{
                    width: 200px;
                    height: 230px;
                    margin:10px;
                }
                .smullContainer{
                    width: 400px;
                    height: 200px;
                    .smullText{
                        padding-left: 100px;
                        p{
                            font-size: 0.8em;
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

