.smullBody{
    background-image: url(/smullbox/assets/oranges.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    // min-height: 1600px;


    .container{
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;

        .smullCard{
            height: 132px;
            width: 100%;
   
            .smullbox{
                display: flex;
                margin: 10px; 
                border-radius: 5px; 
                background-color: $colorSand;
    
                img {
                    height: 132px;
                    width: 164px;
                }
                .smullText{
                    padding: 15px;
                    text-align: left;
                    width: 200px;
                    height: 132px;

                    p {
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .container{
        .smullCard{
            flex: 50%;    
        } 
    }

}
@media screen and (min-width: 1080px) {

    .container{
        .smullCard{
            flex: 25%;    
        } 
    }
}

