h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}

h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  color: #000;
}

p {
  font-size: 10px;
  color: #000;
}

footer {
  width: 100%;
  height: 227px;
  background-color: #000;
  bottom: 0;
  margin-top: auto;
}
footer .text {
  min-width: 330px;
  max-height: 80%;
  display: flex;
  justify-content: space-evenly;
}
footer .contact, footer .list {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  margin: 10px;
  text-align: center;
}
footer address {
  padding-top: 20px;
}
footer address .titleAddress {
  font-size: 20px;
  color: whitesmoke;
}
footer address p {
  color: whitesmoke;
}
footer .list {
  border-left: 1px solid whitesmoke;
  padding-top: 15px;
}
footer .list h3 {
  color: whitesmoke;
}
footer .list a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 10px;
}
footer .icon {
  min-width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid whitesmoke;
}
footer .icon .fb, footer .icon .mastercard, footer .icon .visa, footer .icon .klarna, footer .icon .twitter, footer .icon .instagram {
  font-size: 24px;
  margin: 5px;
  color: whitesmoke;
}
footer .bottomIcons {
  padding: 5px;
  color: whitesmoke;
  font-size: 24px;
  display: none;
}
footer .bottomIcons .socialMedia ul, footer .bottomIcons .payMethods ul {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 15%;
  list-style: none;
}
@media screen and (min-width: 768px) {
  footer .text {
    display: flex;
    justify-content: space-evenly;
  }
  footer .text .contact address, footer .text .list address, footer .text .contact p, footer .text .list p {
    font-size: 1.4em;
  }
  footer .text .list {
    border: none;
  }
  footer .text .list a:hover {
    color: #4d7ea8;
  }
  footer .text .list h3, footer .text .list a {
    font-size: 1.3em;
  }
  footer .text .bottomIcons {
    display: flex;
    text-align: center;
    padding-top: 15px;
    margin: 10px;
    padding-left: 20px;
    font-size: 32px;
    width: 100%;
  }
  footer .text .bottomIcons .socialMedia, footer .text .bottomIcons .payMethods {
    width: 50%;
  }
  footer .text .bottomIcons .socialMedia h3, footer .text .bottomIcons .payMethods h3 {
    color: whitesmoke;
    font-size: 0.6em;
  }
  footer .text .bottomIcons .socialMedia ul, footer .text .bottomIcons .payMethods ul {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  footer .text .bottomIcons .socialMedia ul :hover, footer .text .bottomIcons .payMethods ul :hover {
    color: #4d7ea8;
    cursor: pointer;
  }
  footer .icon {
    display: none;
  }
}
.smullBody {
  background-image: url(/smullbox/assets/oranges.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.smullBody .container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.smullBody .container .smullCard {
  height: 132px;
  width: 100%;
}
.smullBody .container .smullCard .smullbox {
  display: flex;
  margin: 10px;
  border-radius: 5px;
  background-color: #ccad8f;
}
.smullBody .container .smullCard .smullbox img {
  height: 132px;
  width: 164px;
}
.smullBody .container .smullCard .smullbox .smullText {
  padding: 15px;
  text-align: left;
  width: 200px;
  height: 132px;
}
.smullBody .container .smullCard .smullbox .smullText p {
  padding-top: 15px;
}

@media screen and (min-width: 768px) {
  .container .smullCard {
    flex: 50%;
  }
}
@media screen and (min-width: 1080px) {
  .container .smullCard {
    flex: 25%;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */