$colorBrown: #763a03;
$colorLB: #c9f0ff;
$colorDB: #4d7ea8;
$colorSand: #ccad8f;
$colorBlack: #0000;

.priceBody {
width: 100%;
background: url(/pricelist/img/cake-balls-4139982_1280.jpg);
margin: 0;
}

.price-wrapper {
  margin-top: 167px;
  min-height: 913px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 7px;
  

  .card-body {
    position: relative;
    background: linear-gradient(rgba(229, 68, 224, 0.5), rgba(41, 99, 61, 0.5));
    margin: 1.87% 4.87% 0.77% 5.13%; // top bottom left right
    width: 90%;
    min-height: 867px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }

  .image-box {
    width: 100%;
    min-width: 155px;
    height: 125px;
  }
  
  .cards-heading {
    width: 314px; 
    height: 30px; 
    margin-top: 22px;
    overflow: visible;
    text-align: center; 
    word-wrap: break-word;
    font-weight: 700;
    position: relative; 
  }
  
  .cards-heading h1 {
    position: absolute; 
    margin-top: -60px;
  }
  
  p {
    color:$colorDB;
    font-size: 10px;
    font-weight: bold;
  }
  
  .card {
    width: 30%;
    min-width: 156px;
    max-width: 692px;
    min-height: 250px;
    height: auto;
    margin-right: 8px;
    margin-left: 8px;
    display: inline-block;  
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    }

  .card:hover {
    transform: scale(1.1);
  }

    .cards-wrapper {
      margin-top: 29px;
      height: calc(100% - 30px); // Adjust this value based on your heading height
    }
  
    .first, .second {
      margin-bottom: 35px;
    }
  
    .third, .forth {
      margin-bottom: 34px;
    }
    .fifth {
      margin-bottom: 6px;
    }
   
  .image-box img{
    width: 100%;
    min-height: 156px;
    min-height: 128px;
    height: auto;
    }
   
  .content{
    min-height: 125px;
    min-height: 156px;
    height: auto;
    width: 100%;
    background-color: #CCAD8F;
    position: relative;
    }
   
    .service-text {
      margin: 0;
      text-align: center;
    }
  
  .btn-box{
    height: 43px;
    width: 138px;
    margin: 18px 8.99px 8px 8.9px;
    justify-content: center;
    align-items: center;
  }

  .btn-box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 9px;
  }

  .btn-box2 {
    display: flex;
    justify-content: center;
  }
  
   .btnprice {
   width: 65.62px; 
   height: 17px;  
   background: #4D7EA8; 
   border-radius: 50px;
   border: none;
   margin-bottom: 5px;
   text-transform: uppercase;
   transition: .3s linear;
   }

.btnprice:hover {
    background: $colorDB;
    cursor: pointer;
}

   .btn-txt {
    width: 51.24px; 
    height: 7px; 
    left: 6.29px; 
    top: 4px;  
    text-align: center; 
    color: white; 
    font-size: 7px; 
    font-family: Tahoma; 
    font-weight: 700;  
   }

   .btnprice:active {
    background-color: #815f33; 
  }

}

@media only screen and (min-width: 800px) and (max-width: 1920px) {
    
  .price-wrapper {
     height: auto;

     .cards-wrapper {
      width: 85%;
     }

     .card-body {
      height: auto;
      margin: 0;
      justify-content: center;
      align-items: center;
    }
    .card {
      min-width: 692px;
      min-height: 654px;
      width: 30%;
      height: auto;
    }
  
    .image-box img{
      min-width: 692px;
      min-height: 327px;
      width: 100%;
      height: auto;
    }
  
    .content {
      min-height: 327px;
      min-width: 692px;
      margin-top: 202px;
    }

    .cards-heading {
      width: 630px; 
      height: 62px; 
      margin-top: 11px;
    }
    
    .cards-heading h1 {
      font-size: 66px;
      margin-top: -80px;
    }

    .service-text {
      margin-top: 20px;
      font-size: 18px;
    }

    .card-h {
      font-size: 42px;
    }

    .card-p {
      font-size: 22px;
    }
    .btn-box {
      margin-top: 10px;
      display: grid;
      margin-left: 300px;
      margin-top: 20px;
      margin-bottom: 2px;
    }

    .btnprice {
      width: 150px;
      height: 40px;
      font-size: 16px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .btn-txt {
      font-size: 16px;
    }

  }
}

