body {
  margin: 0;
  padding: 0;
}

.priceBody {
width: 100%;
background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255,.5)), url(img/cake-balls-4139982_1280.jpg);
margin: 0;
padding: 0;
}

.price-wrapper {
  // height: 908px;
  margin-top: 167px;
  height: 913px; /* Use viewport height for full height */
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  margin-bottom: 7px;
  

  .card-body {
    position: relative;
    background: linear-gradient(rgba(117, 106, 219, 0.5), rgba(41, 99, 61, 0.5));
    margin: 1.87% 4.87% 0.77% 5.13%; // top bottom left right
    width: 90%;
    height: 867px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }

  .image-box {
    width: 155px;
    height: 125px;
  }
  
  .cards-heading {
    width: 314px; 
    height: 30px; 
    margin-top: 22px;
    overflow: visible;
    text-align: center; 
    word-wrap: break-word;
    font-weight: 700;
    position: relative; 
  }
  
  .cards-heading h1 {
    position: absolute; 
    margin-top: -60px;
  }
  
  p {
    color:$colorDB;
    font-size: 10px;
    font-weight: bold;
  }
  
  .card {
    width: 156px;
    height: 250px;
    margin-right: 8px;
    margin-left: 8px;
    display: inline-block;  
    border-radius: 5px;
    }

    .cards-wrapper {
      margin-top: 29px;
    }
  
    .first, .second {
      margin-bottom: 35px;
    }
  
    .third, .forth {
      margin-bottom: 34px;
    }
    .fifth {
      margin-bottom: 6px;
    }
   
  .image-box img{
    width: 156px;
    height: 128px;
    }
   
  .content{
    height: 125px;
    width: 156px;
    background-color: #CCAD8F;
    position: relative;
    }
   
    .service-text {
      margin: 0;
    }
  
  .btn-box{
    height: 43px;
    width: 138px;
    margin-bottom: 8px;
    margin-top: 18px;
    margin-left: 8.9px;
    margin-right: 8.99px;
  }

  .btn-box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-box2 {
    display: flex;
    justify-content: center;
  }
  
   .btn {
   width: 65.62px; 
   height: 17px;  
   background: #4D7EA8; 
   border-radius: 50px;
   border: none;
   margin-bottom: 5px;
   }
   
   .btn-txt {
    width: 51.24px; 
    height: 7px; 
    left: 6.29px; 
    top: 4px;  
    text-align: center; 
    color: white; 
    font-size: 7px; 
    font-family: Tahoma; 
    font-weight: 700; 
    word-wrap: break-word;
   }

}

