h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}

h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0);
}

p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}

body {
  min-width: 390px;
  min-height: 844px;
  background: #CCAD8F;
}

.wrapper {
  text-align: center;
  height: 878px;
}

.card-body {
  /* Temp */
  background: url(imgPriceList/placeholder.png);
  margin-top: 39px;
  margin-left: 19px;
  margin-right: 20px;
  margin-bottom: 239px;
}

.background-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-heading {
  width: 314px;
  height: 30px;
  margin-top: 22px;
  overflow: visible;
  text-align: center;
  word-wrap: break-word;
  font-weight: 700;
}

.cards-wrapper {
  margin-top: 81px;
}

p {
  color: #4d7ea8;
  font-size: 10px;
  font-weight: bold;
}

.card {
  width: 156px;
  height: 250px;
  margin-top: 59px;
  margin-bottom: 35px;
  margin-right: 8px;
  margin-left: 8px;
  display: inline-block;
  border-radius: 5px;
}

.image-box img {
  width: 100%;
  height: 128px;
  border: black solid; /* Temp */
}

.content {
  height: 125px;
  width: 156px;
  background-color: #CCAD8F;
}

.service-text {
  margin-top: 3.2px;
  height: 68.9px;
}

.btn-box {
  height: 43px;
  display: flex;
  width: 138px;
  margin-bottom: 8px;
  margin-top: 18px;
  margin-left: 8.9px;
  margin-right: 8.99px;
}

.btn {
  width: 65.62px;
  height: 17px;
  background: #4D7EA8;
  border-radius: 50px;
  border-color: none;
  border: none;
}

.btn-txt {
  width: 51.24px;
  height: 7px;
  left: 6.29px;
  top: 4px;
  text-align: center;
  color: white;
  font-size: 7px;
  font-family: Tahoma;
  font-weight: 700;
  word-wrap: break-word;
}

* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

/* HEADER SECTION */
.header-section, .login, header section .toggle-btn, header section .search, .search, .resto, .toggle-btn, .phone {
  border: 1px solid red;
}

header {
  /* Section Styling */
  /* Phone button | Bottom of the page */
}
header section {
  max-width: 440px;
  max-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Login button */
  /* Search Button */
  /* Resto Logo */
  /* Toggle Button | Drop-down button */
}
header section .login, header section .toggle-btn, header section .search {
  width: 41px;
  height: 41px;
}
header section .resto {
  width: 203px;
  height: 59px;
}
header .phone {
  width: 30px;
  height: 30px;
  bottom: 235px;
  right: 0%;
  position: fixed;
}

.wrapper {
  min-width: 330px;
  max-width: 440px;
  min-height: 1600px;
}

footer, .text, .contact, footer .text .list, .list, .icon, .fb, footer .icon .mastercard, footer .icon .visa, footer .icon .klarna, footer .icon .twitter, footer .icon .instagram, .instagram, .twitter, .klarna, .visa, .mastercard {
  border: 1px solid red;
}

footer {
  max-width: 100%;
  min-height: 227px;
}
footer .text {
  min-width: 330px;
  max-height: 80%;
  display: flex;
  justify-content: space-evenly;
}
footer .text .contact, footer .text .list {
  width: 50%;
  height: 150px;
  margin: 10px;
}
footer .icon {
  min-width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .icon .fb, footer .icon .mastercard, footer .icon .visa, footer .icon .klarna, footer .icon .twitter, footer .icon .instagram {
  width: 24px;
  height: 24px;
  margin: 5px;
}
* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
}/*# sourceMappingURL=style.css.map */