* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

/* HEADER SECTION */
header {
  /* Section Styling */
  section {
    max-width: 440px;
    max-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* Login button */
    .login {
      width: 41px;
      height: 41px;
    }

    /* Search Button */
    .search {
      @extend .login;
    }

    /* Resto Logo */
    .resto {
      width: 203px;
      height: 59px;
    }

    /* Toggle Button | Drop-down button */
    .toggle-btn {
      @extend .login;
    }
  }

  /* Phone button | Bottom of the page */
  .phone {
    width: 30px;
    height: 30px;
    bottom: 235px;
    right: 0%;
    position: fixed;
  }
}

.wrapper {
  min-width: 330px;
  max-width: 440px;
  min-height: 1600px;
}

footer {
  max-width: 100%;
  min-height: 227px;

  .text {
    min-width: 330px;
    max-height: 80%;
    display: flex;
    justify-content: space-evenly;

    .contact {
      width: 50%;
      height: 150px;
      margin: 10px;
    }

    .list {
      @extend .contact;
    }
  }

  .icon {
    color: purple;
    min-width: 330px;
    height: 20%;
    display: flex;
    justify-content: space-evenly;

    .fb {
      width: 24px;
      height: 24px;
      margin: 5px;
      max-width: 15%;
    }

    .instagram {
      @extend .fb;
    }

    .twitter {
      @extend .fb;
    }

    .klarna {
      @extend .fb;
    }

    .visa {
      @extend .fb;
    }

    .mastercard {
      @extend .fb;
    }
  }
}
