body {
  background-color: #ccad8f;
  font-family: tahoma, sans-serif;
}



/* HEADER SECTION */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Header | Container */
  /* Phone button | Bottom of the page */
}
header .header-section {
  background-image: linear-gradient(hsla(29, 95%, 24%, 0.2), hsla(30, 37%, 68%, 0.2));
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Header-Login | Container */
  /* Search Button */
  /* Resto Logo */
  /* DROPDOWN */
  /* Dropdown | Container */
}
header .header-section .login, header .header-section .dropdown .toggle-btn, header .header-section .search {
  width: 41px;
  height: 41px;
  /* Header-Login | BTN */
}
header .header-section .login .login-btn, header .header-section .dropdown .toggle-btn .login-btn, header .header-section .dropdown .toggle-btn .toggle-btn-icon, header .header-section .search .login-btn, header .header-section .search .search-btn {
  font-size: 41px;
  color: rgba(0, 0, 0, 0.8);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
header .header-section .resto {
  width: 203px;
  height: 59px;
}
header .header-section .resto img {
  width: inherit;
  height: inherit;
}
header .header-section .dropdown {
  /* Toggle Button | Drop-down button */
  /* Dropdown-Content | Container */
  /* Dropdown-Login | Container */
  /* Dropdown-Menu | Container */
  /* Dropdown-Footer */
}
header .header-section .dropdown .toggle-btn {
  position: inherit;
}
header .header-section .dropdown .dropdown-content {
  width: 100%;
  height: 536px;
  top: 100px;
  left: 0;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  background: #ccad8f;
}
header .header-section .dropdown .dropdown-content-login {
  width: 280px;
  height: 43px;
  flex-shrink: 0;
}
header .header-section .dropdown form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 264px;
  height: 45px;
  font-size: 13px;
}
header .header-section .dropdown form i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 10px;
  height: 10px;
}
header .header-section .dropdown form span {
  position: relative;
  letter-spacing: 1.95px;
  left: 10px;
  margin-right: 5px;
}
header .header-section .dropdown form input {
  display: flex;
  background: none;
  position: relative;
  border: none;
  width: 146px;
  height: 15px;
  margin-bottom: 6px;
  left: 5px;
  color: #000;
  letter-spacing: 1.95px;
  border-bottom: 1px solid #000;
}
header .header-section .dropdown form input:focus {
  outline: none;
}
header .header-section .dropdown form #dropdown-password {
  width: 165px;
}
header .header-section .dropdown .dropdown-content-menu {
  display: flex;
  width: 310px;
  height: 266px;
  top: 78px;
  position: absolute;
}
header .header-section .dropdown ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  flex-shrink: 0;
}
header .header-section .dropdown ol li:hover {
  background: rgba(255, 255, 255, 0.5);
}
header .header-section .dropdown ol li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 310px;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.788);
}
header .header-section .dropdown ol li h3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 5px;
}
header .header-section .dropdown ol li p {
  color: #000;
  text-align: right;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-right: 5px;
}
header .header-section .dropdown .dropdown-language {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 8px;
  gap: 10px;
  bottom: 44px;
  border: 1px solid black;
}
header .header-section .dropdown .dropdown-language button {
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
  font-size: 15px;
  background: local;
  border: none;
  cursor: pointer;
  outline: inherit;
}
header .header-section .dropdown .dropdown-language button :hover {
  background: rgba(255, 255, 255, 0.5);
}
header .header-section .dropdown .dropdown-language .se {
  font-weight: 700;
}
header .header-section .dropdown .dropdown-language .separator {
  width: 1px;
  height: 15px;
  border: 1px solid black;
}
header .header-section .dropdown .dropdown-language .en {
  font-weight: 400;
}
header .header-section .dropdown .dropdown-footer {
  position: fixed;
  width: 390px;
  height: 227px;
  flex-shrink: 0;
  bottom: 0px;
}
header .dropdown:hover .dropdown-content {
  display: flex;
}
header .phone-btn-container {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 235px;
  right: 0%;
}
header .phone-btn-container .phone-toggle, header .phone-btn-container .phone-toggle .phone {
  display: flex;
  position: fixed;
  width: 194px;
  height: 100px;
  bottom: 235px;
  right: 0%;
}
header .phone-btn-container .phone-toggle .phone {
  width: 50px;
  height: 50px;
}
header .phone-btn-container .phone-toggle .phone-card {
  display: none;
  width: 294px;
  height: 100px;
  background-color: rgba(77, 126, 168, 0.8);
}
header .phone-btn-container .phone-toggle .phone-phone-nr, header .phone-btn-container .phone-toggle .phone-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  letter-spacing: 1.95px;
  font-weight: 400;
  text-decoration-line: underline;
}
header .phone-btn-container .phone-toggle .phone-text {
  width: 200px;
  height: 50px;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  font-family: Tahoma;
  font-style: normal;
}
header .phone-btn-container:hover .phone-card {
  display: block;
}





/* HEADER SECTION */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  /* Header | Container */
  .header-section {
    background-image: linear-gradient(
      hsl(29, 95%, 24%, 20%),
      hsl(30, 37%, 68%, 20%)
    );
    max-width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* Header-Login | Container */
    .login {
      width: 41px;
      height: 41px;

      /* Header-Login | BTN */
      .login-btn {
        font-size: 41px;
        color: rgba(0, 0, 0, 0.8);
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
      }
    }

    /* Search Button */
    .search {
      @extend .login;

      .search-btn {
        @extend .login-btn;
      }
    }

    /* Resto Logo */
    .resto {
      width: 203px;
      height: 59px;

      img {
        width: inherit;
        height: inherit;
      }
    }

    /* DROPDOWN */
    /* Dropdown | Container */
    .dropdown {
      /* Toggle Button | Drop-down button */
      .toggle-btn {
        @extend .login;
        position: inherit;

        .toggle-btn-icon {
          @extend .login-btn;
        }
      }

      /* Dropdown-Content | Container */
      .dropdown-content {
        width: 100%;
        height: 536px;
        top: 100px;
        left: 0;
        position: absolute;
        display: none; // Hides the dropdown menu
        flex-direction: column;
        align-items: center;
       
      }

      /* Dropdown-Login | Container */
      .dropdown-content-login {
        width: 280px;
        height: 43px;
        flex-shrink: 0;
      }
      form {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        width: 264px;
        height: 45px;
        font-size: 13px;

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.3rem;
          width: 10px;
          height: 10px;
        }

        span {
          position: relative;
          letter-spacing: 1.95px;
          left: 10px;
          margin-right: 5px;
        }

        input {
          display: flex;
          background: none;
          position: relative;
          border: none;
          width: 146px;
          height: 15px;
          margin-bottom: 6px;
          left: 5px;
          color: #000;
          letter-spacing: 1.95px;
          border-bottom: 1px solid #000;
        }

        input:focus {
          outline: none; // Removes the box around the input area on 'focus'
        }

        #dropdown-password {
          width: 165px;
        }
      }

      /* Dropdown-Menu | Container */
      .dropdown-content-menu {
        display: flex;
        width: 310px;
        height: 266px;
        top: 78px;
        position: absolute;
      }

      ol {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        flex-shrink: 0;

        li:hover {
          background: rgba(255, 255, 255, 0.5);
        }

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 310px;
          gap: 10px;
          border: 1px solid rgba(0, 0, 0, 0.788);

          h3 {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: 2px;
            margin-left: 5px;
          }

          p {
            color: #000;
            text-align: right;
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 1.5px;
            margin-right: 5px;
          }
        }
      }
      .dropdown-language {
        display: flex;
        align-items: center;
        position: absolute;
        padding: 8px;
        gap: 10px;
        bottom: 44px;
        border: 1px solid black;

        button {
          width: 100%;
          height: 100%;
          letter-spacing: 3px;
          font-size: 15px;
          background: local;
          border: none;
          cursor: pointer;
          outline: inherit;

          :hover {
            background: rgba(255, 255, 255, 0.5);
          }
        }

        .se {
          font-weight: 700;
        }

        .separator {
          width: 1px;
          height: 15px;
          border: 1px solid black;
        }

        .en {
          font-weight: 400;
        }
      }

      /* Dropdown-Footer */
      .dropdown-footer {
        position: fixed;
        width: 390px;
        height: 227px;
        flex-shrink: 0;
        bottom: 0px;
      }
    }
  }

  .dropdown:hover .dropdown-content {
    display: flex;
  }

  /* Phone button | Bottom of the page */
  .phone-btn-container {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 235px;
    right: 0%;

    .phone-toggle {
      display: flex;
      position: fixed;
      width: 194px;
      height: 100px;
      bottom: 235px;
      right: 0%;

      .phone {
        @extend .phone-toggle;
        width: 50px;
        height: 50px;
      }

      .phone-card {
        display: none;
        width: 294px;
        height: 100px;
        background-color: rgba(77, 126, 168, 0.8);
      }

      .phone-phone-nr {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        letter-spacing: 1.95px;
        font-weight: 400;
        text-decoration-line: underline;
      }

      .phone-text {
        @extend .phone-phone-nr;
        width: 200px;
        height: 50px;
        letter-spacing: 3px;
        font-size: 20px;
        font-weight: 400;
        text-decoration-line: none;
        font-family: Tahoma;
        font-style: normal;
      }
    }
  }
  .phone-btn-container:hover .phone-card {
    display: block;
  }
}






* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
}





/* NEWS SECTION */

/* Style the button to look like a user icon */
.login-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #763a03cc;
}

/* Style the form */
.login-form {
  display: none;
  background-color:#ccad8f;
  padding: 40px;
  border: 1px solid #ccad8f;
  border-radius: 10px;
  max-width: 300px; /* Set a maximum width to control the form's size */
  position: absolute;
  top: 30px; /* Adjust the distance from the button */
  left: 20px; /* Adjust the distance from the button */
}

/* Style form elements */
.login-input[type="text"], .login-input[type="password"], .login-input[type="submit"] {
  display: block;
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid#ccad8f;
  border-radius: 5px;
}

.login-input[type="submit"] {
  background-color:#763a03cc;
  color: #fff;
  font-weight: bold;
  width: 90%;
}

.login:hover .login-form {
  display: block;
}


.container-resto-culinair {
  position: relative;
  text-align: center;
  color: black;

}

  .resto-culinair {
    color: #ccad8f;
    flex-shrink: 0;
    margin-top: 79px;
    display: flex;
    position: relative;
    flex-direction: column;
    height:40%;
    width: 100%;
    margin-bottom: 1px;
    
  }
  
  @media (max-width: 768px) {
    .center-hero-image {
      margin-top: 15%;
        flex-direction: column;
      }
}

   /* Centered text */
   .center-hero-image {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color:#763a03cc;
    margin-bottom: 30x;
    margin-top: 30x;

  }




p {
  color: #763a03cc;
}

h3 {
  color: #763a03cc;
}
 /* Sort | Filter */

  .centered-dropdown {
      text-align: center;
  

  }



.dropbtn {
  background-color: none ;
  color: #763a03cc;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
 
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ccad8f;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}




.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  width: 100%;
}
 


.flex-item-left
{
  flex: 1;

  padding: 10px;
  border: 1px solid #ccad8f;
  background-color:#ccad8f;
  border-radius: 8px;
 
}

.flex-item img {

  border-radius: 8px;
}

.flex-item-right {
  flex: 1;
  color: #763a03cc;
  padding: 10px;
  border: 1px solid lightgrey;
  background:lightgrey;
  border-radius: 8px;
 
}



  @media (max-width: 768px) {
    .flex-container {
      flex-direction: column;
    }
  }

  .cafe {
    border-radius: 10px;
  }


  #more {display: none;}


  .extra {
    display: none;
  }

  p {
    display: inline;
  }



   input[type="checkbox"] {
    height: 2em;
    appearance: none;
  }

  label {
    position: relative;
    padding: 1em;
  
    border:#ddd;
    color: red;
    cursor: pointer;

  }

  label:before{
  content: "Läs mer";
  }

  input[type="checkbox"]:checked ~ label:before 
  {
    content: "Läs mindre";
  }

.dots:has(~input[type="checkbox"]:checked) {
  display: none;
}
.extra:has(~input[type="checkbox"]:checked){
display: inline;
}














/* FOOTER SECTION */

footer {
  width: 100%;
  height: 227px;
  background-color: #763a03;
  bottom: 0;
}
footer .text {
  min-width: 330px;
  max-height: 80%;
  display: flex;
  justify-content: space-evenly;
}
footer .contact, footer .list {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  text-align: center;
  padding-top: 35px;
}
footer address .titleAddress {
  font-size: 20px;
  color: whitesmoke;
}
footer address p {
  color: whitesmoke;
  font-size: 15px;
}
footer .list {
  border-left: 1px solid #ccad8f;
}
footer h3 {
  color: whitesmoke;
}
footer a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 10px;
}

.icon {
  min-width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #ccad8f;
}
.icon .fb, .icon .mastercard, .icon .visa, .icon .klarna, .icon .twitter, .icon .instagram {
  font-size: 24px;
  margin: 5px;
  color: whitesmoke;
}
* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  min-width: 100%;
  min-height: 1600px;
}





