@charset "UTF-8";
<<<<<<< Updated upstream:News-Page/news.css
=======
/* NEWS SECTION */
>>>>>>> Stashed changes:css/news.css
body {
  background-color: #ccad8f;
  font-family: tahoma, sans-serif;
}

.container-resto-culinair {
  position: relative;
  text-align: center;
  color: black;
}

.resto-culinair {
  height: 40%;
  width: 100%;
<<<<<<< Updated upstream:News-Page/news.css
  color: #ccad8f;
}

=======
  margin-bottom: 1px;
}

@media (max-width: 768px) {
  .center-hero-image {
    margin-top: 15%;
    flex-direction: column;
  }
}
>>>>>>> Stashed changes:css/news.css
/* Centered text */
.center-hero-image {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: rgba(118, 58, 3, 0.8);
}

p {
  color: rgba(118, 58, 3, 0.8);
}

h3 {
  color: rgba(118, 58, 3, 0.8);
}

/* Sort | Filter */
.centered-dropdown {
  text-align: center;
}

.search {
  text-align: center;
}

.dropbtn {
  background-color: none;
  color: rgba(118, 58, 3, 0.8);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ccad8f;
}

#myInput {
  box-sizing: border-box;
  background-image: url("searchicon.png");
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  width: 100%;
}

.flex-item-left {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccad8f;
  background-color: #ccad8f;
  border-radius: 8px;
}

.flex-item img {
  border-radius: 8px;
}

.flex-item-right {
  flex: 1;
  color: rgba(118, 58, 3, 0.8);
  padding: 10px;
  border: 1px solid lightgrey;
  background: lightgrey;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}
.cafe {
  border-radius: 10px;
}

#more {
  display: none;
}

.extra {
  display: none;
}

p {
  display: inline;
}

input[type=checkbox] {
  height: 2em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  position: relative;
  padding: 1em;
  border: #ddd;
  color: red;
  cursor: pointer;
}

label:before {
  content: "Läs mer";
}

input[type=checkbox]:checked ~ label:before {
  content: "Läs mindre";
}

.dots:has(~ input[type=checkbox]:checked) {
  display: none;
}

.extra:has(~ input[type=checkbox]:checked) {
  display: inline;
}/*# sourceMappingURL=news.css.map */