@import "design";
//@import "_smullbox";
@import "membership";
@import "header";
@import "footer";
@import "frontPage";

* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
  box-sizing: border-box;
}
