h1 {
  font-size: 32px;
  font-weight: bold;
  color: #763a03;
}

h2 {
  color: #4d7ea8;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0);
}

p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

/* HEADER SECTION */
.header-section, .login, header section .toggle-btn, header section .search, .search, .resto, .toggle-btn, .phone {
  border: 1px solid red;
}

header {
  /* Section Styling */
  /* Phone button | Bottom of the page */
}
header section {
  max-width: 440px;
  max-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Login button */
  /* Search Button */
  /* Resto Logo */
  /* Toggle Button | Drop-down button */
}
header section .login, header section .toggle-btn, header section .search {
  width: 41px;
  height: 41px;
}
header section .resto {
  width: 203px;
  height: 59px;
}
header .phone {
  width: 30px;
  height: 30px;
  bottom: 235px;
  right: 0%;
  position: fixed;
}

.wrapper {
  min-width: 330px;
  max-width: 440px;
  min-height: 1600px;
}

footer, .text, .contact, footer .text .list, .list, .icon, .fb, footer .icon .mastercard, footer .icon .visa, footer .icon .klarna, footer .icon .twitter, footer .icon .instagram, .instagram, .twitter, .klarna, .visa, .mastercard {
  border: 1px solid red;
}

footer {
  max-width: 100%;
  min-height: 227px;
}
footer .text {
  min-width: 330px;
  max-height: 80%;
  display: flex;
  justify-content: space-evenly;
}
footer .text .contact, footer .text .list {
  width: 50%;
  height: 150px;
  margin: 10px;
}
footer .icon {
  min-width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .icon .fb, footer .icon .mastercard, footer .icon .visa, footer .icon .klarna, footer .icon .twitter, footer .icon .instagram {
  width: 24px;
  height: 24px;
  margin: 5px;
}
.search-bar {
  width: 310px;
  height: 119px;
  flex-shrink: 0;
  margin-top: 79px;
  display: flex;
  position: relative;
}

.search-box {
  align-items: center;
  gap: 20px;
  width: 265px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px 0px 0px 15px;
  border: 2px solid rgba(118, 58, 3, 0.8);
  padding: 0px 10px;
  margin: 275px 85px 2209px 40px;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 0px, 15px, 15px, 0px;
  margin-left: 285px;
  background: transparent;
  border: none;
  padding: 0;
  margin-top: -40px;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.text-and-icon {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 15px 10px 0px;
  width: 100%;
  height: 20px;
  padding: 0;
}

.vector {
  width: 13px;
  height: 20px;
  margin: 8px;
  margin: 0px 8px 0px 12px;
}

.text-wrapper {
  flex: 1;
  width: 100%;
  height: 48px;
  vertical-align: top;
  background: transparent;
  border: none;
  padding: 0;
}

::-moz-placeholder {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 16px;
}

::placeholder {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 16px;
}

* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
}/*# sourceMappingURL=style.css.map */