/* HEADER SECTION */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Section Styling */
  section {
    background-image: linear-gradient(
      hsl(29, 95%, 24%, 20%),
      hsl(30, 37%, 68%, 20%)
    );
    max-width: 440px;
    max-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* Login button */
    .login {
      width: 41px;
      height: 41px;

      .login-icon {
        font-size: 41px;
        color: rgba(0, 0, 0, 0.8);
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
      }
    }

    /* Search Button */
    .search {
      @extend .login;

      .search-icon {
        @extend .login-icon;
      }
    }

    /* Resto Logo */
    .resto {
      width: 203px;
      height: 59px;

      img {
        width: inherit;
        height: inherit;
      }
    }

    /* Toggle Button | Drop-down button */
    .toggle-btn {
      @extend .login;

      .toggle-btn-icon {
        @extend .login-icon;
      }
    }
  }

  /* DROPDOWN */
  /* Dropdown Container */
  .dropdown {
    min-width: 100vw;
    height: 100vh;
    top: 10vh;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.288);

    /* Content Container */
    .dropdown-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      /* Login Container */
      .dropdown-content-login {
        width: 80vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        background-color: rgba(30, 73, 212, 0.788);
        ul {
          li {
          }
        }
      }
      .dropdown-content-menu {
        @extend .dropdown-content-login;
        top: 10vh;
        height: 80vh;
        background-color: rgba(255, 255, 255, 0.788);

        ol {
          li {
          }
        }
      }
      .dropdown-language {
        @extend .dropdown-content-login;
        top: 50vh;
        height: 10vh;
        background-color: rgba(30, 212, 69, 0.788);

        button {
        }
      }

      .dropdown-footer {
        @extend footer;
        max-width: 100vw;
        min-height: 227px;
        top: 50vh;
        background-color: aqua;
      }
    }
  }

  /* Phone button | Bottom of the page */
  .phone {
    width: 30px;
    height: 30px;
    bottom: 235px;
    right: 0%;
    position: fixed;
  }
}
