/* HEADER SECTION */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Section Styling */
  section {
    background-image: linear-gradient(
      hsl(29, 95%, 24%, 20%),
      hsl(30, 37%, 68%, 20%)
    );
    max-width: 440px;
    max-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* Login button */
    .login {
      width: 41px;
      height: 41px;

      .login-icon {
        font-size: 41px;
        color: rgba(0, 0, 0, 0.8);
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
      }
    }

    /* Search Button */
    .search {
      @extend .login;

      .search-icon {
        @extend .login-icon;
      }
    }

    /* Resto Logo */
    .resto {
      width: 203px;
      height: 59px;

      img {
        width: inherit;
        height: inherit;
      }
    }

    /* Toggle Button | Drop-down button */
    .toggle-btn {
      @extend .login;

      .toggle-btn-icon {
        @extend .login-icon;
      }
    }
  }

  /* DROPDOWN */
  /* Dropdown Container */
  .dropdown {
    min-width: 99vw;
    height: 89vh;
    top: 10vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.288);
    border: 1px solid rgb(255, 238, 0);

    /* Content Container */
    .dropdown-content {
      width: 95vw;
      height: 87vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid rgb(0, 225, 255);

      /* Login Container */
      .dropdown-content-login {
        @extend .dropdown-content;
        width: 280px;
        height: 47px;
        display: flex;
        position: absolute;
        border: 1px solid rgba(30, 73, 212, 0.788);

        ul {
          li {
            width: 280px;
            height: 16px;
            margin-bottom: 12px;
            border: 1px solid rgba(0, 0, 0, 0.788);
          }
        }
      }

      .dropdown-content-menu {
        width: 98%;
        height: 55vh;
        top: 6vh;
        position: relative;
        display: flex;
        border: solid rgba(255, 255, 255, 0.788);
        justify-content: center;

        ol {
          li {
            width: 310px;
            height: 25px;
            margin: 18px 0px 18px 0px;
            border: 1px solid rgba(0, 0, 0, 0.788);
          }
        }
      }
      .dropdown-language {
        width: 188px;
        height: 34px;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.788);
        justify-content: space-evenly;
        align-items: center;

        button {
          width: 100%;
          height: 100%;
          letter-spacing: 3px;
          font-size: 15px;
          padding: 0;
          background: local;
          border: none;
          cursor: pointer;
          outline: inherit;
        }
        .se {
          background-color: rgba(0, 0, 0, 0.1);
          font-weight: 700;
        }

        .separator {
          height: 80%;
          width: 1px;
          background-color: black;
        }

        .en {
          font-weight: 400;
        }
      }
    }
    .dropdown-footer {
      @extend footer;
      width: 390px;
      bottom: -8px;
      position: absolute;

      border: 1px solid rgb(124, 50, 134);
    }

    /* Phone button | Bottom of the page */
    .phone {
      width: 30px;
      height: 30px;
      bottom: 235px;
      right: 0%;
      position: fixed;
    }
  }
}
